# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/components/team/team.d.ts
/src/App.d.ts
/src/App.js
/cypress/integration/app_spec.js
/src/components/banner/banner.d.ts
/src/components/banner/banner.js
/src/components/banner/banner.jsx
/src/components/box/box.d.ts
/src/components/box/box.js
/src/components/box/box.jsx
/src/components/carousel/carousel.d.ts
/src/components/carousel/carousel.js
/src/components/carousel/carousel.jsx
/src/layouts/footer/footer.d.ts
/src/layouts/footer/footer.js
/src/main.d.ts
/src/main.js
/src/layouts/navbar/navbar.d.ts
/src/layouts/navbar/navbar.js
/src/components/partner/partner.d.ts
/src/components/partner/partner.js
/src/components/projectcard/projectcard.d.ts
/src/components/projectcard/projectcard.js
/src/components/projetheader/projectheadercard.d.ts
/src/components/projetheader/projectheadercard.js
/src/components/projetheader/projetheader.d.ts
/src/components/projetheader/projetheader.js
/src/components/socialnetwork/socialnetwork.d.ts
/src/components/socialnetwork/socialnetwork.js
/src/components/socialnetwork/socialnetwork.jsx
/src/components/team/team.js
/src/components/team/team.jsx
/tsconfig.tsbuildinfo
/src/hooks/useWindowsSize.d.ts
/src/hooks/useWindowsSize.js
/vite.config.mjs
