.media-container {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    border-radius: 999px;
    overflow: hidden;
    justify-self: center;
    box-shadow: var(--shadow);
}
.media-separator {
    border: none;
    width: 2px;
    height: 1.5em;
    background: var(--lightGray);
}
.media-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--black);
    text-decoration: none;
    font-size: 1.1em;
    padding: 1em 2em;
    transition: color 0.3s;
    &:hover {
        color: var(--main);
    }
}

.dual {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
}
.box-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 15px;
    padding: 1.5rem;
    background: var(--white);
    box-shadow: var(--shadow);
    position: relative;
}
.box-label {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -50%;
    background: var(--main);
    color: var(--white);
    padding: 0.3em 1em;
    font-size: 0.8em;
    width: fit-content;
    border-radius: 999px;
    text-transform: uppercase;
    font-weight: 700;
}
.box-title {
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
}
.box-subtext {
    color: var(--darkGray);
    font-size: 0.8em;
    text-align: center;
}
.box-parts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    & > * {
        max-height: 350px;
    }
}
.box-data {
    border-radius: 10px;
    padding: 2rem 1rem;
    background: var(--lightGray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-data-number {
    color: var(--main);
    font-size: 3em;
    font-weight: 700;
}
.box-data-subtext {
    color: var(--darkGray);
    font-size: 0.8em;
    text-transform: uppercase;
}
.box-image {
    display: block;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.partners {
    box-shadow: 0 0 0 100vmax var(--black);
    clip-path: inset(0 -100vmax);
    padding-block: 4rem;
    background: var(--black);
    max-width: 500px;
}
.partners-title {
    color: var(--white);
    font-weight: 700;
    font-size: 1.8em;
}
.partners-text {
    color: var(--lightGray);
    font-size: 0.8em;
    margin-top: 0.5rem;
}
.partners-list {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.partner {
    width: 92px;
    height: 92px;
    border-radius: 15px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.partner-logo {
    width: 100%;
    border-radius: 15px;
}
.partner-name {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    translate: -50% 0;
    color: var(--lightGray);
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.5rem;
    transition: color 0.3s;
}
.partner:hover .partner-name {
    color: var(--main);
}
.partners-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}
.partners-action {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    padding: 1em 2em;
    border-radius: 999px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: none;
    &.action_main {
        color: var(--white);
        background: var(--main);
    }
    &.action_second {
        color: var(--white);
    }
}