.team {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.team-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.team-group-title {
    color: var(--darkGray);
    font-weight: 600;
    font-size: 1.2em;
    position: relative;
    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        width: 20px;
        height: 2px;
        background: var(--gray);
    }
    &::before {
        left: -15px;
        translate: -100% -50%;
    }
    &::after {
        right: -15px;
        translate: 100% -50%;
    }
}

.team-group-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.team-member {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background: var(--white);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: var(--shadow);
}
.team-member-image-container {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

}
.team-member-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-member-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-member-name {
    font-weight: 600;
    font-size: 1em;
}
.team-member-role {
    color: var(--darkGray);
    font-size: 0.8em;
}