:root {
    --main: #FF1616;

    --white: #FFFFFF;
    --light: #F0F1F3;
    --lightGray: #E0E0E0;
    --gray: #B0B0B0;
    --darkGray: #383838;
    --black: #111111;

    --shadow: 0 10px 10px rgba(128, 128, 128, 0.1);
}

*:not(svg, path) {
    margin: 0;
    padding: 0;
    color: var(--black);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root { background-color: var(--light); }

.page {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem 100px;
}
.page-title {
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 2rem;
    &::before, &::after {
        position: absolute;
        content: "";
        width: 35px;
        height: 4px;
        background: var(--main);
        top: 50%;
    }
    &::before {
        left: -20px;
        translate: -100% -50%;
    }
    &::after {
        right: -20px;
        translate: 100% -50%;
    }
}
.page-contrast {
    box-shadow: 0 0 0 100vmax var(--black);
    clip-path: inset(0 -100vmax);
    padding-block: 4rem;
    background: var(--black);
}

@media screen and (max-width: 1100px) {
    .page {
        padding-inline: 25px;
    }
    .page-title {
        font-size: 1.75rem;
    }
}